.iconLogout{
    font-weight: 500;
    color: red;
    font-size: 24px;
    cursor: pointer;
}

.iconLogin{
    font-weight: 500;
    color: teal;
    font-size: 24px;
}

.auto{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: 0;
    height: 50vh;
    width: 100vw;
    z-index: 999;
    gap: 20px;
}

.link{
    cursor: pointer;
}

.link:hover{
    background-color: teal;
    color: white !important;
    width: 100%;
    padding: 5px 50px;
    border-radius: 5px;
}

@media screen and (min-width: 548px) {
    .menuOutlined, .auto{
        display: none;
    }
}

@media screen and (max-width: 548px){
    .iconLogin, .iconLogout{
        display: none;
    }
}

