.container{
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.imgContainer{
    flex: 1;
    height: 220px;
    position: relative;
}

.imgContainer .img{
    object-fit: cover;
}

.textContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.date{
    color: gray;
}

.category{
    color: crimson;
}

.desc{
    font-size: 18px;
    font-weight: 300;
}

.link{
    border-bottom: 1px solid crimson;
    width: max-content;
    padding: 2px 0;
}

@media screen and (max-width: 1280px){
    .imgContainer{
        display: none;
    }
}