*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  max-width: 100vw;
  overflow-x: hidden;
}

a{
  color: inherit;
  text-decoration: none;
}

.container{
  min-height: 100vh;
}

.wrapper{
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 80px;
  padding-right: 80px;
}

.light{
  background-color: white !important;
  color: #111 !important;
}

.dark{
  background-color: #111 !important;
  color: #bbb !important;
}

.theme{
  transition: 2s all ease-in-out;
}

@media screen and (max-width:1536px){
  
  .wrapper{
    max-width: 1366px;
  }
}

@media screen and (max-width:1280px){
  
  .wrapper{
    max-width: 1024px;
  }
}


@media screen and (max-width:1024px){
  
  .wrapper{
    max-width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width:768px){
  
  .wrapper{
    max-width: 640px;
  }
}

@media screen and (max-width:640px){
  
  .wrapper{
    max-width: 475px;
  }
}

.ql-container{
  font-size: 28px;
}

.quill > .ql-container > .ql-editor.ql-blank::before{
  color: #4d4d4d;
}

.ql-tooltip-editor,.ql-tooltip{
  display: none;
}