.container{
    display: flex;
    justify-content: space-between;
}

.button{
    width: 100px;
    border: none;
    padding: 10px 15px;
    background: teal;
    color: white;
    cursor: pointer;
}