.container{
    
}

.title{
    background-color: teal;
    color: white;
    padding: 5px 10px;
    text-align: center;
}

.content{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}