.container{
    width: 100%;
}

.title{
    margin: 50px 0;
}

.categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.category{
    display: flex;
    align-items: center;
    gap: 10px;
    text-transform: capitalize;
    width: 15%;
    height: 80px;
    justify-content: center;
    border-radius: 10px;
}

.category.style{
    background-color: rgb(223, 223, 223);
}
.category.news{
    background-color: rgb(241, 145, 145);
}
.category.arts{
    background-color: rgb(244, 248, 162);
}
.category.computers{
    background-color: rgb(163, 232, 251);
}
.category.phone{
    background-color: rgb(255, 184, 253);
}

.image{
    border-radius: 50%;
}

@media screen and (max-width: 1280px){
    .category{
        width: 20%;
    }
}

@media screen and (max-width: 1024px){
    .category{
        width: 25%;
    }
}

@media screen and (max-width: 768px){
    .category{
        width: 30%;
    }
}

@media screen and (max-width: 640px){
    .category{
        width: 100%;
    }
}